[submodule "py-3d-engine"]
	path = py-3d-engine
	url = https://github.com/UmSenhorQualquer/py3dengine.git
[submodule "pyOSC"]
	path = pyOSC
	url = https://github.com/UmSenhorQualquer/pyOSC.git
[submodule "pyforms-gui"]
	path = pyforms-gui
	url = https://github.com/UmSenhorQualquer/pyforms-gui.git
